version: '3.8'
services:
  db:
    image: postgres:15
    container_name: local_postgres
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=portfolio_db
    ports:
      - "5432:5432"